setuptools
numpy
ipykernel
pandas
scipy
scikit-learn
neurodsp
matplotlib
mne-connectivity
seaborn
plotly
nbformat
ipython
scikit-posthocs
tensorpac
openpyxl
FOOOF
pymer4
xgboost
sklearn_lvq
sklvq
pygam
Dash
pycircstat
nose
shap
lightgbm
notebook